#px {
    font-size: 20px;
}

#pt {
    font-size: 20pt;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

#em {
    font-size: 2em;
}

#rem {
    font-size: 4rem;
}